@keyframes dice_rotate {

    /* Z往顺时针 X往纵深方向 Y往左  */
    0% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(0);
    }

    12.5% {
        transform: rotateX(270deg) rotateY(360deg) rotateZ(15deg);

    }

    37.5% {
        transform: rotateX(180deg) rotateY(360deg) rotateZ(180deg);
    }

    50% {
        transform: rotateX(150deg) rotateY(270deg) rotateZ(150deg);
    }

    67.5% {
        transform: rotateX(90deg) rotateY(180deg) rotateZ(90deg);
    }
    75% {
        transform: rotateX(75deg) rotateY(90deg) rotateZ(40deg);
    }
    87.5%{
        transform: rotateX(75deg) rotateY(20deg) rotateZ(40deg);

    }
    90%{
        transform: rotateX(20deg) rotateY(50deg) rotateZ(-60deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}


:root {
    --outer-size: 800px;
    --inner-size: 600px;
}

.dice {
    transform-style: preserve-3d;
    width: var(--outer-size);
    height: var(--outer-size);
    margin: 0 auto;
    position: relative;
    animation: dice_rotate 20s linear infinite;
    transform-origin: center;
}


.dice .outer div {
    pointer-events: none;
}


.dice .outer {
    transform-style: preserve-3d;
    width: var(--outer-size);
    height: var(--outer-size);
    position: absolute;
}

.dice .outer div {
    height: 100%;
    width: 100%;
    width: var(--outer-size);
    height: var(--outer-size);
    position: absolute;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 30px;
    transition: all 2s;
    box-sizing: border-box;
    /* 点击取消效果 */
    background: #ffffff;
    /* 从无限中突出的效果 */
    background-size: 0;
}

.dice .inner div {
    height: 100%;
    width: 100%;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 40px;
    overflow: hidden;
    box-sizing: border-box;
}

.dice .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    width: var(--inner-size);
    height: var(--inner-size);
}

input[type="checkbox"] {
    display: none;
}


#inner-1:checked~.outer div:nth-child(1) {
    background-image: url(../image/dice/大乔-2.jpg);
    opacity: 1;
    background-size: 100%;
}


#inner-2:checked~.outer div:nth-child(2) {
    background-size: 100%;
    background-image: url(../image/dice/二乔-2.jpg);
    opacity: 1;
}

#inner-3:checked~.outer div:nth-child(3) {
    background-size: 100%;
    background-image: url(../image/dice/三乔-2.jpg);
    opacity: 1;
}

#inner-4:checked~.outer div:nth-child(4) {
    background-size: 100%;
    background-image: url(../image/dice/四乔-2.png);
    opacity: 1;
}

#inner-5:checked~.outer div:nth-child(5) {
    background-size: 100%;
    background-image: url(../image/dice/五乔-2.png);
    opacity: 1;
}

#inner-6:checked~.outer div:nth-child(6) {
    background-size: 100%;
    background-image: url(../image/dice/六乔-2.jpg);
    opacity: 1;
}



.dice .inner label {
    width: var(--inner-size);
    height: var(--inner-size);
    background-color: rgba(112, 191, 197, 0.463);
    position: absolute;
    font-size: 4em;
}


.dice .outer>div:nth-child(1) {
    transform: translateZ(calc(var(--outer-size) / 2));

    opacity: 0;
}

.dice .outer>div:nth-child(2) {
    transform: rotateY(90deg) translateZ(calc(var(--outer-size) / 2));
    opacity: 0;
}

.dice .outer>div:nth-child(3) {
    transform: rotateY(180deg) translateZ(calc(var(--outer-size) / 2));
    opacity: 0;
}

.dice .outer>div:nth-child(4) {
    transform: rotateY(-90deg) translateZ(calc(var(--outer-size) / 2));
    opacity: 0;
}

.dice .outer>div:nth-child(5) {
    transform: rotateX(90deg) translateZ(calc(var(--outer-size) / 2));
    opacity: 0;
}

.dice .outer>div:nth-child(6) {
    transform: rotateX(-90deg) translateZ(calc(var(--outer-size) / 2));
    opacity: 0;
}

.dice .inner label:nth-child(1) {
    transform: translateZ(calc(var(--inner-size) / 2));
    background-size: 100%;
    border: solid black;
    background-image: url(../image/dice/大乔.jpg);
}

.dice .inner label:nth-child(2) {
    transform: rotateY(90deg) translateZ(calc(var(--inner-size) / 2));
    border: 1px solid black;
    background-size: 100%;
    background-image: url(../image/dice/二乔.jpg);
}

.dice .inner label:nth-child(3) {
    transform: rotateY(180deg) translateZ(calc(var(--inner-size) / 2));
    border: 1px solid black;
    background-size: 100%;
    background-image: url(../image/dice/三乔.jpg);
}

.dice .inner label:nth-child(4) {
    transform: rotateY(-90deg) translateZ(calc(var(--inner-size) / 2));
    background-size: 100%;
    border: 1px solid black;
    background-image: url(../image/dice/四乔.jpg);
}

.dice .inner label:nth-child(5) {
    transform: rotateX(90deg) translateZ(calc(var(--inner-size) / 2));
    border: 1px solid black;
    background-size: 100%;
    background-image: url(../image/dice/五乔.jpg);
}

.dice .inner label:nth-child(6) {
    transform: rotateX(-90deg) translateZ(calc(var(--inner-size) / 2));
    border: 1px solid black;
    background-size: 100%;
    background-image: url(../image/dice/六乔.jpg);
}