/* 隐藏下拉菜单 */
.nav_section ul.dropdown {
    z-index: 10;
    display: none;
    position: absolute;
    padding: 0;
    width: 120px;
    /* box-shadow: 0px 8px 16px rgba(0,0,0,0.2); */

}

/* 下拉菜单项的样式 */
.nav_section ul.dropdown li {
    list-style: none;
    /* box-shadow: 16px 2px 10px 0px; */
}

/* 下拉菜单的链接样式 */
.nav_section ul.dropdown li a {
    /* border-radius: 10px; */
    width: 160px;
    color: hsl(248, 31%, 20%);
    padding: 12px 16px;
    display: block;
    background-color: burlywood;
    
}

/* 当鼠标悬停时显示下拉菜单 */
#JOJO:hover ul.dropdown {
    display: block;
}

/* 鼠标悬停下拉菜单项的效果 */
.nav_section ul.dropdown li a:hover {
    background-color: hsl(51, 100%, 40%);
}