:root {
    --saying-slide-height: 40px;
    --saying-num: 8;
    --saying-time: 20s;
    --saying-see-time: calc(var(--saying-time) / var(--saying-num));
}


div.saying {
    z-index: 10;
    background-color: transparent;
}

.saying_slide_container {
    position: absolute;
    height: var(--saying-slide-height);
    /* Ensure height can contain visible area */
    width: 100vw;
    overflow: hidden;
}

.saying_slide_container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.saying_slide_container h2 {
    display: block;
    margin: 0;
    padding: 0;
    line-height: var(--saying-slide-height);
    height: var(--saying-slide-height);
    font: bolder xx-large;
    color: transparent;
    /* background: linear-gradient(to right, #ff0000, #0088ff, #ff0062, #00e5ff); */
    background: radial-gradient(pink,#ff00f7,red) ;
    background-clip: text;
    filter: drop-shadow(0px 0px 20px #00ffd0);
}

.saying_move {
    animation: slide_action var(--saying-time) steps(var(--saying-num)) infinite;
}

.saying_move li {
    animation: li_move var(--saying-see-time) linear infinite;
}

/* Improved animation */
@keyframes slide_action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(calc(var(--saying-num)*var(--saying-slide-height)*-1));
    }
}

@keyframes li_move {
    0% {
        opacity: 0;

    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;

    }

    100% {
        opacity: 0;
    }
}